@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.font-freedoka {
    font-family: 'Fredoka', sans-serif;
}

.banca {
    width: 220px;
    height: 200px;
  }
  
